:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --hospital-green-dark: #89c992;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}


/*menu desktop */
.desktop-menu {
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:not(:last-child) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
/* end menu desktop */


/* mobile menu */
.mobile-menu {
  padding: 24px;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 20px;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}

.mobile-menu .sign-out {
  font-size: var(--sm);
  color: var(--hospital-green);
}

.mobile-menu ul:nth-child(3) {
  position: absolute;
  bottom: 20px;
}

/* end mobile menu */


/* main cards page */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin: 10px 0 10px 0;
}

.product-card {
  width: 240px;
}

.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-info figure {
  margin: 0;
}

.product-info figure img {
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}
/*main cards end*/

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.password-recovery {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 50px;
  justify-self: center;
  display: none;
}

.title {
  color: var(--black);
  font-size: var(--lg);
  margin-bottom: 30px;
  text-align: center;
}

.subtitle {
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--black);
  font-size: var(--sm);
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 8px;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 6px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 20px;
}

.value {
  color: var(--very-light-pink);
  font-weight: bold;
  font-size: var(--md);
  margin: 8px 0 32 0px;
  text-align: right;
}

.email-image {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.email-image img {
  width: 80px;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 6px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
}

.primary-button:hover {
  background-color: var(--hospital-green-dark);
}

.secondary-button {
  color: var(--hospital-green);
  background-color: var(--white);
  border-radius: 6px;
  border: 1px solid var(--hospital-green);
  width: 100%;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  cursor: pointer;
}

.secondary-button:hover {
  color: var(--hospital-green-dark);
}

.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

.resend {
  font-size: var(--sm);
}

.resend span {
  color: var(--very-light-pink);
}

.resend a {
  color: var(--hospital-green);
  text-decoration: none;
}

.forgot-pw {
  color: var(--hospital-green);
  font-size: var(--sm);
  text-align: center;
  text-decoration: none;
  margin-bottom: 50px;
}

@media (max-width: 640px) {

  /* main cards page*/
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .product-card {
    width: 140px;
  }

  .product-card img {
    width: 140px;
    height: 140px;
  }
  /* end cards index page*/

  .logo {
    display: block;
  }

  .secondary-button,
  .create-button {
    position: absolute;
    bottom: 20px;
    width: inherit;
  }

}
